{{block "confirmation" .}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Confirmation</title>
</head>
<body>
  <p>Please check your email to confirm </p>
  <p>and then go <a href="/log_in">here</a>!</p>
</body>
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    p{
        font-size: 1.5rem;
    }
    a{
        color: blue;
    }
</style>
</html>
{{end}}